<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jinjiang.hotel.mappers.TourGuidingBookingMapper">

    <resultMap id="tourGuidingBookingResult" type="tourGuidingBooking">
        <result property="id" column="id" />
        <result property="bookCount" column="book_count"/>
        <result property="bookDate" column="book_date" javaType="date"/>
        <result property="whenToUse" column="when_to_use" javaType="date"/>
        <result property="note" column="note" />
        <association property="guest" javaType="guest" column="guest_id"
          select="com.jinjiang.hotel.mappers.GuestMapper.getById"/>
        <association property="guiding" javaType="tourGuiding" column="tour_guiding_id"
          select="com.jinjiang.hotel.mappers.TourGuidingMapper.getById"/>
    </resultMap>
    <select id="getLastId" resultType="int">
        SELECT max(id) as last
        FROM tour_guiding_bookings
    </select>
    <select id="getAll" parameterType="int" resultMap="tourGuidingBookingResult">
        SELECT *
        FROM tour_guiding_bookings
        ORDER BY guest_id ASC
    </select>
    
    <select id="getById" parameterType="int" resultMap="tourGuidingBookingResult">
        SELECT *
        FROM tour_guiding_bookings
        WHERE id=#{id}
    </select>
    <select id="getByGuest" parameterType="guest" resultMap="tourGuidingBookingResult">
        SELECT *
        FROM tour_guiding_bookings
        WHERE guest_id=#{id}
    </select>
    
    <insert id="save" parameterType="tourGuidingBooking" useGeneratedKeys="true" keyProperty="id" >
    	<selectKey resultType="int" databaseId="id" keyProperty="id" order="AFTER">
    		SELECT SCOPE_IDENTITY() AS ID; 
    	</selectKey>
        INSERT INTO tour_guiding_bookings (guest_id, tour_guiding_id, book_count,when_to_use,note)
        VALUES (#{guest.id},#{guiding.id}, #{bookCount},#{whenToUse},#{note})
    </insert>
    
    <update id="update" parameterType="tourGuidingBooking">
        UPDATE tour_guiding_bookings
        SET
        guest_id = #{guest.id},
        tour_guiding_id=#{guiding.id},
        book_count=#{bookCount},
        when_to_use=#{whenToUse},
        note=#{note}
        where id = #{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM tour_guiding_bookings WHERE id = #{id}
    </delete>
    <delete id="deleteByGuest" parameterType="guest">
        DELETE FROM tour_guiding_bookings 
        WHERE guest_id = #{id}
    </delete>
</mapper>