<?xml version="1.0" encoding="UTF-8"?>
<config>
	<validation>
		<passwordMinLength>6</passwordMinLength>
	</validation>
  <repo>
     <images>
			<backup>
				<isEnabled>true</isEnabled>
				<path>D:\hotelbooking\uploaded-images</path>
			</backup>
			<path>/upload/images/</path>
     </images>
  </repo>
  <expo>
  </expo>
  <mail>
    <config>
    	<bccToAdmin>true</bccToAdmin>
    	<newBookingToAdminOnly>false</newBookingToAdminOnly>
      <from>
        <email>gl_hotel@sina.com</email>
        <name>Hotel Booking Admin</name>
      </from>
      <charset>utf-8</charset>
      <debug>false</debug>
    </config>
    <smtp>
	    <host>smtp.sina.com</host>
	    <port>25</port>
	    <user>gl_hotel</user>
	    <password>gl12774</password>
	    <ssl>false</ssl>
	    <authenticate>true</authenticate>
    </smtp>
    <users>
    </users>
  </mail>
  <ftl>
    <config>
      <templatedir>WEB-INF\templates</templatedir>
      <encoding>utf-8</encoding>
    </config>
    <templates>
      <newBooking>
        <subject>您的展会酒店预订成功</subject>
        <file>NewBooking.html</file>
      </newBooking>
      <editBooking>
      	<file>EditBooking.html</file>
      	<subject>您的展会预订信息更新了</subject>
      </editBooking>
      <confirmedBooking>
        <file>ConfirmedBooking.html</file>
        <subject>您的展会酒店预订已成功确认</subject>
      </confirmedBooking>
    </templates>
  </ftl>
</config>